
body {
  background-image: url('../images/backgrounds/background-login.jpg');
}

/* login.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
  font-size: 50px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.login-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.login-form button[type="submit"] {
  width: 300px;
  height: 40px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-form button[type="submit"]:hover {
  background-color: #45a049;
}

.login-container p {
  font-size: 16px;
  color: #333;
  text-align: center;
}

.login-container a {
  color: #4CAF50;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}